body {
    background-image: url("https://raw.githubusercontent.com/technetwork/projetoX/main/images/frame.png");
    background-repeat: round;
    overflow: hidden;
}

.body-mask {
    position: absolute;
    background-color: #ffffff;
    width: 100vw;
    height: 143vh;
    opacity: 0.9;
}

.container {
    display: flex;
    flex-direction: column;
}

.titulo {
    position: relative;
    top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Great Vibes', cursive;
    font-size: 2.8em;
    color: #884FBE;
    text-align: center;
}

.titulo h1 {
    width: 100%;
    letter-spacing: 8px;
    animation: typing 5s steps(52), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 60vh;
    max-width: 666px;
    max-height: 560px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 30px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 35vw;
    box-shadow: 0px 4px 4px rgba(187, 187, 187, 0.25);
    border-radius: 15px;
}

.carousel-item img{
    border-radius: 15px;
    
}


@media (max-width: 1000px) {

    body {
        overflow: visible;
        overflow-x: hidden;
    }

    .titulo h1 {
        white-space: normal;
        letter-spacing: normal;
        animation: typing 2s steps(100)
    }
   
    .carousel-container {
        background-color: #ffffff00;
    }

}

@media (max-width: 1366px) {

    .carousel{
        width: 35vw;
    }

    .carousel-container{
        top: 12vh;
        background-color: #ffffff00;
    }

    .music-container{
        top: 10vh;
        scale: .8;
    }

}

@media (max-width: 580px) {

    .titulo {
        top: 6vh;
    }

    .carousel-container {
        top: 9vh;
    }

    .carousel {
        width: 90vw;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}
